
#category ol{
	clear:both;
	float:none;
	list-style-type:none;
	
	height:25px;
	padding:0;
	margin:0;
	
	background-color:#26A8E0;
	
	height:20px;font-size:14px;
	color:#333333;
	
}
#category ol li{
	float:left;
	text-align:center;
	font-size:14px;
	
	
}




#category ul{
	clear:both;
	float:none;
	list-style-type:none;
	
	height:25px;
	padding:0;
	margin:0;
	
	
	
}


#category .first{
	background-color:#f1f1f1;
	
}
#category ul li{
	float:left;
	text-align:left;
	height:25x;
		
	
}



#category  .l1{
	width:120px;
	
	
}

#category  .l2{
	width:480px;
	
}

#category  .l3{
	width:180px;
	float:right;
	

	
}


#category  .l3 a{
	padding-left:20px;
	
}