
.menu li{
	height:25px;
	line-height: 150%;
}

.menu a{
   
	color: #fff;
	text-decoration: none;
	font-size:12px;
	display:block;float:left;
	float:left;
	width:180px;
	height:20px !important; height:24px;
	padding-top:5px;
	text-align:left;
	  
}
.menu a:hover{
	filter:alpha(opacity=60);
	color: #15428B;

	
	
}

.menu  .category{
	background: url(../images/menu/category.png) no-repeat;
	background-size: 16px 16px;
	padding-left: 20px;
	background-position: 0px 6px;
}

.menu .detail{
	background: url(../images/menu/detail.png) no-repeat;
	background-size: 16px 16px;
	padding-left: 20px;
	background-position: 0px 6px;
	
}


