body { margin:0px; background:transparent; overflow:hidden; background:url(../images/left_bg.gif) }
img { float:none; vertical-align:middle; }
hr { width:90%; text-align:left; size:0; height:0px; border-top:1px solid #46A0C8;}
.alpha { background:none !important;  background:#94D0EE; filter:alpha(opacity=10); }
.menu {  color:#fff; }
.menu ul{list-style-type:none;margin-left:4px;padding-left:0; }
.menu li{

	min-height:25px;
	height: auto;
	line-height: 150%;

}

.menu a{
   
	color: #fff;
	text-decoration: none;
	
	
	  
}
.menu a:hover{
	filter:alpha(opacity=60);
	color: #15428B;

	
	
}

.menu  .category{
	background: url(../images/menu/category.png) no-repeat;
	
	padding-left: 35px;
	background-position: 0px 0px;
}

.menu .detail{
	background: url(../images/menu/detail.png) no-repeat;
	
	padding-left: 35px;
	background-position: 0px 0px;
	
	
}


