<!--{include file="`$dir_backend`/top.htm"}-->

<div class="nav_title" align="left" >广告列表</div>
<div  align="right"><a href="<!--{site_url('d=backend&c=advs&m=action_add')}-->"><img src="<!--{$img_url}-->/add_<!--{$lang_type}-->.png"  /></a></div>

<div class="search">
	<form action="<!--{site_url('d=backend&c=advs&m=action_list')}-->" method="get">
    名称： 
    <input type="text" name="adv_title" value="<!--{$smarty.get.adv_title}-->" />
	
  <!--{create_button type='search'}-->
	</form>


</div>

<table width="100%"  class="mytable">
  <thead>
  <tr>
    <th>名称&nbsp;</th>
    <th>编号</th>
    <th>性质</th>
    <th>图片张数&nbsp;</th>
    <th>规格&nbsp;</th>
    <th>到期时间&nbsp;</th>
    <th>浏览&nbsp;</th>
    <th>代码&nbsp;</th>
    <th>操作&nbsp;</th>
  </tr>
</thead>
 
  <!--{foreach from=$list item=item key=key}--> 
  <tr>
    <td><!--{$item.adv_title}-->&nbsp;</td>
    <td><!--{$item.adv_id}-->&nbsp;</td>
    <td>
     <!--{$adv_types[$item.adv_type]}-->
    </td>
    <td><!--{$item.pic_stat}-->&nbsp;</td>
    <td><!--{$item.adv_w}-->×<!--{$item.adv_h}-->px&nbsp;</td>
    <td><!--{$item.adv_exp_date}-->&nbsp;</td>
    <td><!--{$item.adv_visit}-->&nbsp;</td>
    <td><textarea><script type="text/javascript" src="<!--{$site_url|cat:config_item('html_root')|cat:'/js/zh_'|cat:$item.adv_id|cat:'.js'}-->"></script></textarea></td>
    <td> <!--{if $item.more==0}-->
      <a  title="删除广告" href="<!--{site_url('d=backend&c=advs&m=action_del&adv_id=<!--{$item.adv_id}-->')}-->" onclick="return confirm('确定删除?');"> 
      <img src="<!--{$img_url}-->/del1.gif" border="0" > </a> 
      <!--{/if}-->
      <a  title="修改广告" href="<!--{site_url('d=backend&c=advs&m=action_add&adv_id=<!--{$item.adv_id}-->')}-->"> 
      <img src="<!--{$img_url}-->/mod1.gif" border="0"  > </a>&nbsp;

      <a  title="广告预览"  target="_blank" class="link_view" href="<!--{site_url('d=backend&c=advs&m=action_view&adv_id=<!--{$item.adv_id}-->')}-->"> 
       </a>
      </td>
  </tr>
  <!--{/foreach}-->
</table>


 
<div class="page_link">
	<!--{$page_link}-->
</div>
<script language="JavaScript">
	overclass($('#adv ul'));
</script>

<!--{include file="`$dir_backend`/foot.htm"}-->