	<div id='pros'>
	<form id="form2" method="post" action="<!--{site_url('d=backend&c=product&m=action_del&parent_class=<!--{$smarty.get.parent_class}-->')}-->">   
	  
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="mytable">
		<thead>
	  <tr >
	    <th align="center">
		<input type="image" name="submit" src="<!--{$img_url}-->/button_del.gif" onclick="return chkdel2();"  >
	    <input type="checkbox" id="chkall"  value="1" onclick="chkall2(this);">
	    </th>
	    <th align="center"><!--{$lang_products.title}-->&nbsp;</th>
	    <th align="center"><!--{$lang_products.goods_pic}-->&nbsp;</th>
	    <th align="center"><!--{$lang_products.category}-->&nbsp;</th>
	    <th align="center"><!--{$lang_products.visit}-->&nbsp;</th>
	    <th align="center"><!--{$lang_products.date}-->&nbsp;</th>
	    <th align="center"><!--{$lang_products.order}-->&nbsp;</th>
	    <th align="center"><!--{$lang_products.operate}-->&nbsp;</th>
	  </tr>
	</thead>
	    <!--{foreach from=$list item=item key=key}-->
	    <tr>
	      <td align="center">  <input type="checkbox" class="pro_ids"  name="pro_id[]" value="<!--{$item.pro_id}-->">&nbsp;</td>
	    <td align="left"><!--{$item.pro_title}-->&nbsp;</td>
	    <td align="center"> <!--{if $item.pro_pic}-->
	        <div > <img src="<!--{$base_url}-->/<!--{$item.pro_pic}-->" width="120" height="80" /> </div>
	   
	      <!--{/if}-->&nbsp;</td>
	    <td align="center"><!--{$item.c_title}-->&nbsp;</td>
	    <td align="center"><!--{$item.pro_view}-->&nbsp;</td>
	    <td align="center"><!--{$item.pro_date}-->&nbsp;</td>
	    <td align="center"><!--{$item.pro_order}-->&nbsp;</td>
	    <td align="center"> <a  title="<!--{$lang_products.view}-->"   href="<!--{site_url('d=backend&c=product&m=action_add&pro_id=<!--{$item.pro_id}-->&parent_class=<!--{$smarty.get.parent_class}-->')}-->" > 
	      <img src="<!--{$img_url}-->/mod1.gif" border="0" > </a> 
	      <a  title="<!--{$lang_products.delete}-->" href="javascript:;" onclick="delRecord('<!--{site_url("d=backend&c=product&m=action_del/?pro_id=<!--{$item.pro_id}-->&parent_class=<!--{$smarty.get.parent_class}-->")}-->',this);"> 
	      <img src="<!--{$img_url}-->/del1.gif" border="0" > </a> &nbsp;</td>
	  </tr>
	  <!--{/foreach}-->
	</table>
	
	  
	  </form>
	</div>
	<div class="page_link">
		<!--{$page_link}-->
	</div>

