<table class='mytable'>
<thead>
<tr>
<th>选择</th>			
<!--{foreach from=$fields item=f}-->	
<th title="<!--{$f.r_name}-->" class="mdata_head"><!--{$f.r_alias}--></th>
<!--{/foreach}-->	
			
<th><!--{"opt"|lang}--></th>

		</tr>
			</thead>
		<tbody>
		<!--{foreach from=$list item=item}-->	
		<tr>
			<td>
				<input type="checkbox" class="ids"  name="<!--{$primary}-->[]" value="<!--{$item[$primary]}-->">
			</td>
			
			<!--{foreach from=$fields item=f}-->	
			<td><!--{$item[$f.r_name]}--></td>
			<!--{/foreach}-->	
			<td>
					 
					
					<!--{ci_anchor segment="d=backend&c=mdata&m=action_view&pri_id=`$item[$primary]`" attrs="class:link_view,target:_blank"}-->
					<a href="javascript:art_dialog_open('<!--{site_url("d=backend&c=mdata&m=action_add&pri_id=<!--{$item[$primary]}-->")}-->','数据管理');" class="link_mod"></a>
					<!--{ci_anchor segment="d=backend&c=mdata&m=action_del&pri_id=`$item[$primary]`" attrs="class:link_del,onclick:return confirm('<!--{"confirm_delete"|lang}-->');"}-->

					
			</td>
		</tr>
		<!--{/foreach}-->
		</tbody>	
		</table>
	<div class="main_foot">
	<div class="page_link">
	<!--{$page_link}-->
	</div>		
		<input type="checkbox" id="chkall"  value="1" onclick="CheckAll(this.form);">全选
		<!--{create_button type='delete' ext=''}-->	
		<!--{create_button type='add' url="javascript:art_dialog_open('`$site_url`backend/mdata/action_add','数据管理');"}-->		
	</div>