<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title" align="left" ><!--{$theme_var}-->申请列表</div>

<table class="search">
<tr>
<td>
	<form action="<!--{site_url('d=backend&c=joinus&m=action_002_002')}-->" method="get">
    名称： 
    <input type="text" name="apply_title" value="<!--{$search.apply_title}-->" />
	
	<input type="submit" name="submit" value="查询" />
	</form>
</td>
</tr>
</table>


<div id='apply'>
  <ol>
    <li class="l1">公司名称</li>
   
    <li class="l3"><span class="l3">联系人</span></li>
    <li class="l4"><span class="l7">性别</span></li>
    <li class="l5">电话</li>
    <li class="l6">email</li>
 
    <li class="l8">操作</li>
  </ol>

  <!--{foreach from=$list item=item key=key}-->
  <ul  class="mouse_pointer">
       <li class="l1"><!--{$item.comp_name}--></li>
   
    <li class="l3"><!--{$item.comp_contact}--></li>
    <li class="l4"><!--{$item.sex}--></li>
    <li class="l5"><!--{$item.phone}--></li>
    <li class="l6"><!--{$item.email}--></li>
  
   
    <li class="l8"> 
      
        <a  title="查看申请"  target="_blank" href="<!--{site_url('d=backend&c=joinus&m=action_002_002_view&apply_id=<!--{$item.apply_id}-->')}-->" > 
      <img src="<!--{$img_url}-->/view.png" border="0" > </a> 
      
      <a  title="删除申请" href="<!--{site_url('d=backend&c=joinus&m=action_002_002_del&apply_id=<!--{$item.apply_id}-->')}-->" onclick="return confirm('确定删除?');"> 
      <img src="<!--{$img_url}-->/del1.gif" border="0" > </a> 
      </li>
  </ul>

<!--{/foreach}-->



</div>
<div class="page_link">
	<!--{$page_link}-->
</div>
<script language="JavaScript">
	overclass($('#apply ul'));
</script>

<!--{include file="`$dir_backend`/foot.htm"}-->