<!--{include file="`$dir_backend`/top.htm"}-->
<form id="form1" name="form1" method="post" action="<!--{site_url("d=backend&c=archive&m=action_save")}-->" onsubmit="return validator(this)">
  <table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td  colspan="2" align="left" class="nav_title"><!--{$class_info.class_theme}--></td>
    </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_archive.title}-->：</td>
      <td height="40"><label>
        <input name="main[info_title]"  readonly="true" class="gray" type="text" id="main[info_title]" size="50" value="<!--{$class_info.class_theme}-->"   valid='required' errmsg='<!--{$lang_archive.inp_title}-->'/>
        <!--{php}-->echo form_error("main[info_title]"); <!--{/php}-->
      </label></td>
    </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_archive.date}-->：</td>
      <td height="40"><label>
        <input name="main[info_date]" readonly="readonly" type="text" id="main[info_date]" size="12"  value="<!--{$main.info_date|default:$smarty.now|date_format:"%Y-%m-%d"}-->" class="Wdate" onfocus="WdatePicker();"/>
      </label>
      <!--{php}-->echo form_error("main[info_date]"); <!--{/php}-->
      
      </td>
    </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_archive.content}-->：</td>
      <td height="400"><label>
        <textarea name="main[info_content]"  cols="45" rows="5"   errmsg="<!--{$lang_archive.inp_content}-->" id="content"   valid="custom" custom="getContentValue"     style="display:none" ><!--{$main.info_content}--></textarea>
                      <!--{$editor}--></textarea>
      </label>
        <!--{php}-->echo form_error("main[info_content]",'
        <div id="error_span" class="red_font">','</div>'); <!--{/php}-->      </td>
    </tr>
    <tr>
      <td height="40" align="right">&nbsp;</td>
      <td height="40" align="right"><label>
       
       
        <input name="main[info_class]" type="hidden" id="main[info_class]" value="<!--{$main.info_class}-->" />
        
        
        
        
        <input name="main[info_id]" type="hidden"  value="<!--{$main.info_id}-->" />
        <!--{create_button type='save'}-->
      </label></td>
    </tr>
  </table>
</form>
<!--{include file="`$dir_backend`/foot.htm"}-->
