<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title" align="left" >问题</div>

<div class="search">
	<form action="<!--{site_url('d=backend&c=ask&m=action_list')}-->" method="get">
	  
	问题查找：
	  <input type="text" name="info_title" value="<!--{$search.info_title}-->" />
	
	<input type="submit" name="submit" value="查询" />
	</form>
<a href="<!--{site_url('d=backend&c=joinus&m=action_002_001_add')}-->">+添加题目</a>

</div>

<div id='ask'>
<ol>

<li class="l1"><span class="l4">序号</span></li>
<li class="l2"><span class="l1">问题</span></li>
<li class="l5">操作</li>

</ol>

<!--{foreach from=$list item=item key=key}-->

<ul  class="mouse_pointer">
<li class="l1"><!--{$item.ask_order}-->&nbsp;</li>
<li class="l2"><!--{$item.ask_title}-->&nbsp;</li>

<li class="l5">

	
	
	<!--{if $item.more==0}-->
	<a  title="删除问题" href="<!--{site_url('d=backend&c=joinus&m=action_002_001_del&ask_id=<!--{$item.ask_id}-->')}-->" onclick="return confirm('确定删除?');">
		<img src="<!--{$img_url}-->/del1.gif" border="0" >
	</a>
	<!--{/if}-->
	<a  title="修改问题" href="<!--{site_url('d=backend&c=joinus&m=action_002_001_add&ask_id=<!--{$item.ask_id}-->')}-->">
		<img src="<!--{$img_url}-->/mod1.gif" border="0"  >
	</a>

	
	
</li>
</ul>

<!--{/foreach}-->



</div>
<div class="page_link">
	<!--{$page_link}-->
</div>
<script language="JavaScript">
	overclass($('#ask ul'));
</script>

<!--{include file="`$dir_backend`/foot.htm"}-->