<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title" align="left" ><!--{$lang_category.theme_manage}--></div>

<div class="remark_theme1"><!--{$lang_category.theme_attention}-->
</div>
<div align="right" class="font_size_a1"><a  href="javascript:;" onclick="$('.ul_ext').show();" title="<!--{$lang_category.expand_memos}-->"><img src="<!--{$img_url}-->/open1.gif" width="30" height="18" border="0"><!--{$lang_category.expand}--></a><a href="javascript:;" onclick="$('.ul_ext').hide();" title="<!--{$lang_category.shrink_memos}-->"><img src="<!--{$img_url}-->/close1.gif" width="30" height="18" border="0"><!--{$lang_category.shrink}--></a></div>


<div id='category'>

<ol>

<li class="l2"><!--{$lang_category.class_name}--></li><li class="l1"><!--{$lang_category.c_sort}--></li><li class="l3"><!--{$lang_category.operate}--></li>

</ol>

<!--{foreach from=$list item=item key=key}-->

<ul id="ct_<!--{$item.c_parent}-->" class="<!--{if $item.c_level==1}-->first <!--{/if}--><!--{if $item.c_level>1}--> ul_ext <!--{/if}-->mouse_pointer" <!--{if $item.more>0}-->
		
	<!--{/if}-->>


<li class="l2" onClick="fn_toogle(this,'<!--{$item.c_sn}-->');" title="<!--{$item.c_sn}-->"><!--{type_repeat str='&nbsp;&nbsp;&nbsp;&nbsp;|'  times=$item.c_level}-->—<!--{$item.c_title}--></li>
<li class="l1"><!--{$item.c_sort}-->&nbsp;</li>

<li class="l3">

	
	<a  title="<!--{$lang_category.add_sub}-->" href="<!--{site_url("d=backend&c=category&m=action_add&parent=`$item.c_sn`")}-->">
	<img src="<!--{$img_url}-->/new.gif" border="0"  >
	</a>
	<!--{if $item.more==0&&$item.undel==0}-->
	<a  title="<!--{$lang_category.delete}-->" href="<!--{site_url("d=backend&c=category&m=action_del&c_id=`$item.c_id`")}-->" onclick="return confirm('<!--{$lang_category.delete_confirm}-->');">
		<img src="<!--{$img_url}-->/del1.gif" border="0" >
	</a>
	<!--{/if}-->
	<a  title="<!--{$lang_category.modify}-->" href="<!--{site_url("d=backend&c=category&m=action_add&c_id=`$item.c_id`")}-->">
		<img src="<!--{$img_url}-->/mod1.gif" border="0"  >
	</a>

	
	
</li>
</ul>

<!--{/foreach}-->



</div>
<script language="JavaScript">
	overclass($('#category ul').not(".first"));	
	function fn_toogle(obj,c_sn){		
		if($("[id=ct_"+c_sn+"]").css('display')=='none'){
			$("[id^=ct_"+c_sn+"]").hide();
			$("[id=ct_"+c_sn+"]").show();
		}else{
			$("[id^=ct_"+c_sn+"]").hide();
		}
	}
	
	//$("ul:not([id='ct_01'])").hide();
</script>

<!--{include file="`$dir_backend`/foot.htm"}-->