<!--{include file="`$dir_backend`/top.htm"}-->


          
<div class="nav_title"><!--{$lang_engage.theme_manage}--></div>
<div  align="right"><a href="<!--{func_site_url segments='d=backend&c=engage&m=action_add'}-->"><img src="<!--{$img_url}-->/add_<!--{$lang_type}-->.png"  /></a></div>

<table class='search'>
  <tr><td>
    <form action='<!--{func_site_url segments="d=backend&c=engage&m=action_list"}-->' method="get">
  
      

            <!--{$lang_engage.pos}-->：
                <input type="text" size="50" name="eg_pos" value="<!--{$search.eg_pos}-->">

                      
      <!--{create_button type="search"}-->
    </form>
  </td></tr>
</table>



              <table width="98%" class="mytable" border="0" align="center" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                  <th height="25"><div align="center"><strong><!--{$lang_engage.sn}--></strong></div></th>
              <th align="center" ><strong><!--{$lang_engage.pos}--></strong></th>
                  <th ><div align="center"><strong><!--{$lang_engage.date}--></strong></div></th>
                  <th align="center" ><div><strong><!--{$lang_engage.operate}--></strong></div></th>
                </tr>
              </thead>
                <!--{foreach from=$list item=item}-->
                <tr onmouseover="setChildTagsMouseoverColor(this,'#C8E3FF','#ffffff');">
                  <td height="25" align="left"><div align="center">
                    <!--{$item.eg_id}-->
                  </div></td>
                <td align="left"><!--{$item.eg_pos}-->&nbsp;</td>
                  <td align="left"><div title="2010-06-24 08:52" align="center">
                    <!--{$item.pub_date}-->
                  </div></td>
                  <td align="center" ><div><a href="<!--{site_url('d=backend&c=engage&m=action_del?eg_id=<!--{$item.eg_id}-->')}-->"  onclick="return confirm('<!--{$lang_engage.confirm_delete}-->')" target="_self"><img src="<!--{$img_url}-->/del1.gif" width="16" height="16" border="0" /></a> <a href="<!--{site_url('d=backend&c=engage&m=action_add?eg_id=<!--{$item.eg_id}-->')}-->" ><img src="<!--{$img_url}-->/mod1.gif" width="16" height="16" border="0" /></a></div></td>
                </tr>
                <!--{/foreach}-->
              </table>
              <center>
                <!--{$page_link}-->
            </center>
<!--{include file="`$dir_backend`/foot.htm"}-->