<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title" align="left" ><!--{$lang_engage.theme_apply}--></div>
<div  align="right"></div>


<table class='mytable'>
  <thead>
  <tr>
    <td class="l1"><!--{$lang_engage.sn}--></td>
    <td class="l2"><!--{$lang_engage.name}--></td>
    <td class="l3"><!--{$lang_engage.tel}--></td>
    <td class="l4"><!--{$lang_engage.email}--></td>
    <td class="l5"><!--{$lang_engage.apply_job}--></td>
   
    <td class="l6"><!--{$lang_engage.date}--></td>
     <td class="l8"><!--{$lang_engage.operate}--></td>
  </tr>
 </thead>
  <!--{foreach from=$list item=item key=key}-->
<tr  class="mouse_pointer">
       <td class="l1"><!--{$item.apply_id}-->&nbsp;</td>
       <td class="l2"><!--{$item.contact}-->&nbsp;</td>
       <td class="l3"><!--{$item.mobile}-->&nbsp;</td>
       <td class="l4"><!--{$item.email}-->&nbsp;</td>
       <td class="l5"><!--{$item.eg_pos_str}-->&nbsp;</td>
       <td class="l6"><!--{$item.apply_date}-->&nbsp;</td>
   
   
    <td class="l8"> 
      
      <a  title="<!--{$lang_engage.apply_view}-->"   href="<!--{site_url("d=backend&c=engage&m=action_apply_view&apply_id=`$item.apply_id`&parent_class=`$smarty.request.parent_class`")}-->" > 
      <img src="<!--{$img_url}-->/view.png" border="0" > </a> 
      
      <a  title="<!--{$lang_engage.apply_delete}-->" href="<!--{site_url("d=backend&c=engage&m=action_apply_del&apply_id=`$item.apply_id`&parent_class=`$smarty.request.parent_class`")}-->" onclick="return confirm('<!--{$lang_engage.apply_confirm_delete}-->?');"> 
      <img src="<!--{$img_url}-->/del1.gif" border="0" > </a> 
      </td>
  </tr>

<!--{/foreach}-->
</table>



<div class="page_link">
	<!--{$page_link}-->
</div>
<script language="JavaScript">
	overclass($('#archives ul'));
</script>

<!--{include file="`$dir_backend`/foot.htm"}-->