<!--{include file="`$dir_backend`/top.htm"}-->
<form action="<!--{site_url("d=backend&c=friendlink&m=action_save")}-->" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td  colspan="2" align="left" class="nav_title">友情链接 添加/修改</td>
    </tr>
    <tr>
      <td height="40" align="right">站点名称：</td>
      <td height="40"><label>
        <input name="main[link_title]" type="text" id="main[link_title]" size="50" value="<!--{$main.link_title}-->"  />
        <!--{php}-->echo form_error("main[link_title]"); <!--{/php}-->
      </label></td>
    </tr>
    <tr>
      <td height="40" align="right">站点LOGO：</td>
      <td height="40" align="left"><label>
        <input type="file" name="file1" id="file1" />
        <input type="hidden" name="main[link_pic]" id="main[link_pic]" value="<!--{$main.link_pic}-->" />
        
        
        
          </label>
          <!--{if $main.link_pic}-->
         <div class="clear"> <img src="uploads/products/<!--{$main.link_pic}-->" width="120" height="80" /> </div>
          <!--{/if}-->
           </td>
    </tr>
    <tr>
      <td height="40" align="right">站点url：</td>
      <td height="40" align="left"><label>
        <input name="main[link_url]" type="text" id="main[link_url]" size="50" value="<!--{$main.link_url}-->" />
      </label></td>
    </tr>
    <tr>
      <td height="40" align="right">备注：</td>
      <td height="400"><label>
        <textarea name="main[link_content]"  cols="45" rows="5"   errmsg="请输入培训对象" id="content"   valid="custom" custom="getContentValue"     style="display:none" ><!--{$main.link_content}--></textarea>
                      <!--{$editor}--></textarea>
      </label>
        <!--{php}-->echo form_error("main[link_content]",'
        <div id="error_span" class="red_font">','</div>'); <!--{/php}-->      </td>
    </tr>
    <tr>
      <td height="40" align="right">&nbsp;</td>
      <td height="40" align="right"><label>
       
       
         <input name="main[link_date]" readonly="readonly" type="hidden" id="main[link_date]" size="12"  value="<!--{$smarty.now|date_format:"%Y-%m-%d"}-->" class="Wdate" onfocus="WdatePicker();"/>
        
        
        <input name="parent_class" type="hidden" id="parent_class" value="<!--{$class_info.parent_class}-->" />
        
        
        
        
        <input name="main[link_id]" type="hidden"  value="<!--{$main.link_id}-->" />
      
        <!--{create_button type='save'}-->
      </label></td>
    </tr>
  </table>
</form>
<!--{include file="`$dir_backend`/foot.htm"}-->
