<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cor.CMS) - cor.cms</title>
<link rel="shortcut icon" href="<!--{$img_url}-->favicon.ico" />
<style>
html,body,div{width:100%;font-family:"Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;background-color:#E2E9EA;line-height:20px;padding:0;margin:0;text-align:center;font-size:12px;color:#666;}
a{color:#666;}
</style>
</head><body>
<div>X6CMS后台管理中心 - Powered by <a href="http://www.x6cms.com" target="_blank">X6CMS</a> 2.2(20130305)</div>
</body></html>
