<!--{include file="`$dir_backend`/top.htm"}-->

<fieldset>
<legend><!--{$lang_roles.rights_config}--></legend>
<form method="post" action="<!--{site_url('d=backend&c=menu&m=action_save')}-->"> 

<table class="center" width="100%">
<tr  >
	<td  colspan="2" align="left" valign="top">
	
    上级菜单：
    <select name='main[r_pid]' style='width:150px;' size='15'>
    <option value=''>请选择</option>
	<!--{html_options  options=$parent_menus selected=$main.r_pid output=$cust_names}-->
	</select>
	</td>
</tr>



<tr >
	<td width="94" align="left" valign="top" >名称：</td><td class="td_left">	
		<input type="text" name="main[r_title]" value="<!--{$main.r_title}-->" size="50"/>
		<!--{php}-->echo form_error("main[r_title]","<div id='error_span' class='red_font'>","</div>"); <!--{/php}-->
	</td>
</tr>


<tr >
	<td width="94" align="left" valign="top" >排序</td><td class="td_left">	
		<input type="text" name="main[r_order]" value="<!--{$main.r_order}-->" size="10" />
		<!--{php}-->echo form_error("main[r_order]","<div id='error_span' class='red_font'>","</div>"); <!--{/php}-->
	</td>
</tr>


<tr >
	<td width="94" align="left" valign="top" >链接</td><td class="td_left">	
		<input type="text" name="main[r_url]" value="<!--{$main.r_url}-->" size="100" />
	</td>
</tr>


<tr >
	<td width="94" align="left" valign="top" >显示</td><td class="td_left">	
		<input type="checkbox" name="main[r_display]" value="1" <!--{$main.checked}--> />
	</td>
</tr>



</table>
<center>

<input type="hidden" name="main[r_id]" value="<!--{$main.r_id}-->">
<!--{create_button type='save'}-->
</center>

</form>
</fieldset>
<!--{include file="`$dir_backend`/foot.htm"}-->