<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title" align="left" ><!--{$lang_roles.rights_config}--></div>
<div  align="right"><a href="<!--{site_url('d=backend&c=roles&m=action_add')}-->"><img src="<!--{$img_url}-->/add_<!--{$lang_type}-->.png"  /></a></div>
<div class="search">
</div>
<table class="mytable">
	<thead>
	<tr >
		<th><!--{$lang_roles.role}--></th>	
		<th><!--{$lang_roles.operate}--></th>
	</tr>
</thead>
	<!--{foreach from=$list key=key item=v}-->
	<tr class="tr_center">
		<td ><!--{$v.role_name}--></td>	
		<td>
		
		<!--{if $key!=config_item("admin_role_id") }-->

			<!--{php}--> 
			
			\$attrs  = array(
				'class'=>'link_mod',
			);
			echo anchor('d=backend&c=roles&m=action_add/'.\$template->tpl_vars['v']->value['role_id'],'&nbsp;',\$attrs);
			
			\$attrs  = array(
				'class'=>'link_del',
			);
			
			echo anchor('d=backend&c=roles&m=action_del/'.\$template->tpl_vars['v']->value['role_id'],'&nbsp;',\$attrs);
			
			
			 <!--{/php}-->
			
		<!--{/if}-->				
		</td>
	
	</tr>
	<!--{/foreach}-->
</table>
<div class="margin_25 center">
	<!--{php}--> echo $page_link;<!--{/php}-->
</div>
<!--{include file="`$dir_backend`/foot.htm"}-->
