<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title">分类管理</div>
<div  align="right"><a href="<!--{func_site_url segments='/backend/tree/action_add'}-->"><img src="<!--{$img_url}-->/add_<!--{$lang_type}-->.png"  /></a></div>

<table class='search'>
	<tr><td>
		<form action='<!--{func_site_url segments="backend/tree/action_list"}-->' method="get">
			
			分类名称：
			<input type="text" name="name" value="<!--{$smarty.get.name}-->">
			
			<!--{create_button type="search"}-->
		</form>
	</td></tr>
</table>

  <form id="form2" method="post" action="<!--{func_site_url segments='/backend/tree/action_del'}-->" onsubmit="return chkdel2();">   
<table class='mytable'>
	<thead>
<tr>
	<th>
		<!--{create_button type='delete' ext=''}-->		
		<input type="checkbox" id="chkall"  value="1" onclick="CheckAll(this.form);">
	</th>
	<th>序号</th>
	<th>编码</th>
	<th>名称</th>
	<th>Pid</th>
	<th>排序</th>
	<th>操作</th>

</tr>
	</thead>
<tbody>
<!--{foreach from=$list item=item}-->	
<!--{if $item.pid==0 }-->
<!--{continue}-->
<!--{/if}-->
<tr>
	<td>
		<input type="checkbox" class="ids"  name="id[]" value="<!--{$item.id}-->">
	</td>
	<td><!--{$item.id}--></td>
	<td><!--{$item.code}--></td>
	<td><!--{$item.level_name}--></td>
	<td><!--{$item.pid}--></td>
	<td><!--{$item.orderId}--></td>
	<td align='center'>
		   <!--{php}-->		
			\$attrs  = array(
				"class"=>"link_mod",
			);
			echo anchor("d=backend&c=tree&m=action_add&id=".\$template->tpl_vars['item']->value['id'],"&nbsp;",\$attrs);
			
			\$attrs  = array(
				"class"=>"link_del",
				"onclick"=>"return confirm('确定删除?');",
			);
			
			echo anchor("d=backend&c=tree&m=action_del&id=".\$template->tpl_vars['item']->value['id'],"&nbsp;",\$attrs);
			<!--{/php}-->
			<!--{''|cat:anchor("d=backend&c=tree&m=action_add?bid=`$item.id`", '&nbsp;', 'class=link_add')}-->



	</td>
</tr>
<!--{/foreach}-->
</tbody>	
</table>
</form>
<div class="page_link">
	<!--{$page_link}-->
</div>
<!--{literal}-->
<script language="JavaScript">
	//删除确认
	function chkdel2(){
		if($('.ids:checked').size()>0){
			if(confirm('确定删除?')){
				return true;
			}else{
				return false;	
			}
			
		}else{
			alert('请选择');	
			return false;
		}
	}
</script>
<!--{/literal}-->
<!--{include file="`$dir_backend`/foot.htm"}-->