<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cor.CMS - Conqweal</title>
<link rel="stylesheet" type="text/css" href="<!--{$css_url}-->style.css" />
<script type="text/javascript" src="<!--{$js_url}-->jquery.min.js"></script>
</head><body><div id="main_head" class="main_head" style="height:35px;">
<table class="menu">
<tr><td>
<a href="###" class="current">后台首页</a></td></tr>
</table>
</div>
<div id="main_head" style="padding-top:35px;">
<table cellSpacing=0 width="100%" class="content_list">
<tr><th width="50%" align="left" colspan="2">个人资料</th><th align="left" colspan="2" width="50%">系统信息</th></tr>
<tr><td width="15%">用户名</td><td width="35%">admin</td><td width="15%">X6CMS版本</td><td width="35%">2.2(20130305)</td></tr>
<tr><td width="15%">用户组</td><td width="35%">1</td><td width="15%">运行环境</td><td width="35%">Apache/2.2.14 (Win32) PHP/5.2.12</td></tr>
<tr><td width="15%">最后登录时间</td><td width="35%">2013-09-02 15:42:23</td><td width="15%">上传许可</td><td width="35%">32M</td></tr>
<tr><td width="15%">最后登录ip</td><td width="35%">127.0.0.1</td><td width="15%">MYSQL版本</td><td width="35%">5.1.42-community-log</td></tr>
<tr><td width="15%">登录次数</td><td width="35%">309</td><td width="15%">剩余空间</td><td width="35%">200913.94M</td></tr>
<tr><th width="50%" align="left" colspan="4">网站统计</th>
	</tr>

<tr><td width="15%">下载模型</td><td width="35%">4</td><td width="50%"  style="padding:0;" colspan="4" rowspan="6"></td></tr>


</table>
</div>
</body></html>