<!--{include file="`$dir_backend`/top.htm"}-->
<form action="<!--{$site_url}-->/backend/advs/action_save" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr> 
      <td height="24"  colspan="2" align="left" class="nav_title"> 添加/修改广告
      
     
       </td>
    </tr>
    <tr> 
      <td height="40" align="right">广告名称：</td>
      <td height="40"><label> <input name="main[adv_title]" type="text" id="main[adv_title]" size="50" value="<!--{$main.adv_title}-->"  /> 
        
        </label>
		<!--{type_error obj="main[adv_title]"}-->
        </td>
    </tr>
    <tr> 
      <td height="40" align="right">广告特征：</td>
      <td height="40">宽 
        <input name="main[adv_w]" type="text" id="main[adv_w]" value="<!--{$main.adv_w}-->" size="8">
		<!--{type_error obj="main[adv_w]"}-->
        px×高 
        <input name="main[adv_h]" type="text" id="main[adv_h]" value="<!--{$main.adv_h}-->" size="8">
		<!--{type_error obj="main[adv_h]"}-->
        px
		
		
		</td>
    </tr>
   
      <tr>
      <td height="40" align="right">广告类别：</td>
      <td height="40"><label>
        <input type="radio"  class="adv_type" name="main[adv_type]" id="radio1" value="1"   />
        轮显广告
         <input type="radio"  class="adv_type" name="main[adv_type]" id="radio3" value="3"   />
        对联广告
        <input type="radio"  class="adv_type" name="main[adv_type]" id="radio2" value="2"  />
      Flash</label></td>
    </tr>

 
  
    
    
    <tbody id="tbody_upload">
   
    </tbody>
   
   
    <tr> 
      <td height="40" align="right">到期时间：</td>
      <td height="40"><input name="main[adv_exp_date]" readonly="readonly" type="text" id="main[adv_exp_date]" size="12"  value="<!--{$main.adv_exp_date}-->" class="Wdate" onfocus="WdatePicker();"/></td>
    </tr>
    <tr> 
      <td height="40" align="right">发布日期：</td>
      <td height="40"><label> 
        <input name="main[adv_cr_date]" readonly="readonly" type="text" id="main[adv_cr_date]" size="12"  value="<!--{$main.adv_cr_date}-->" class="Wdate" onfocus="WdatePicker();"/>
        </label> 
      <!--{type_error obj="main[adv_date]"}-->
      </td>
    </tr>
    <tr> 
      <td height="40" align="right">描述：</td>
      <td height="400"><label> 
        <textarea name="main[adv_desc]"  cols="45" rows="5"   errmsg="请输入培训对象" id="content"   valid="custom" custom="getContentValue"     style="display:none" ><!--{$main.adv_desc}--></textarea>
        <!--{$editor}-->
        </label> 
      
      </td>
    </tr>
    <tr> 
      <td height="40" align="right">&nbsp;</td>
      <td height="40" align="center">
            <input type="hidden" name="total_detail" id="total_detail"  value="<!--{$total_size}-->"/>
            <input name="main[adv_id]" type="hidden"  value="<!--{$main.adv_id}-->" />
            <!--{create_button type='save'}-->

    </tr>
  </table>
</form>

<textarea class="hide" id="adv_html_2"> <!--{include file="$dir_backend/adv_template/2.htm"}--></textarea>
<textarea class="hide" id="adv_html_1"><!--{include file="$dir_backend/adv_template/1.htm"}--></textarea>
<textarea class="hide" id="adv_html_3"><!--{include file="$dir_backend/adv_template/3.htm"}--></textarea>

<script language="JavaScript">
	function copy_ext(obj){
		var p_obj = $(obj).parents("tr:first");		
		p_obj.find('.myimg').remove();
	}
	
	//显示上传区域,flash,pic
	function show_upload(adv_type){
  var str='';




  $(".adv_type[value='"+adv_type+"']").prop("checked",true);


  str = $('#adv_html_'+adv_type).val();  

	 $('#tbody_upload').html(str);
   
	}
	
	//默认显示

	$(document).ready(function(){
 
		$(".adv_type").on("click",function(){

				show_upload($(this).val());							 
		});		
     				   
	})
  
   show_upload("<!--{$main.adv_type}-->");
</script>

<!--{include file="`$dir_backend`/foot.htm"}-->
