<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title" align="left" >
<!--{if $main.from=='unit'}-->单位加盟
<!--{else}-->
区域加盟
<!--{/if}-->
申请明细信息</div>

<table width="520" border="0" align="center" cellpadding="3" cellspacing="0" class="mytable"> 
                    <tbody> 
                        <tr> 
                            <th style="color: #0156c3"  colspan="2" height="25"><div align="center" class="STYLE6"> 
                              <div align="left">基本信息</div> 
                            </div></th> 
                        </tr> 
                        <tr> 
                            <td width="67"  height="25"><span class="STYLE6">公司名称：</span></td> 
                            <td width="441" height="25" ><!--{$main.comp_name}-->&nbsp;</td> 
                        </tr> 
                        <tr> 
                          <td width="67" height="25" ><span class="STYLE6">公司类型：</span></td> 
                          <td height="25" ><span class="STYLE6"> 
                         <!--{$apply_comp_type[$main.apply_comp_type]}-->
 </span></td> 
                        </tr> 
                        <tr> 
                            <td width="67"  height="25"><span class="STYLE6">公司地址：</span></td> 
                            <td height="25" ><span class="STYLE6"><span style="color: #ff0000"> 
                          <label><!--{$main.comp_addr}--> </label>
                            </span></span></td> 
                        </tr> 
                        <tr> 
                            <td width="67"  height="25"><span class="STYLE6">联系人：</span></td> 
                            <td height="25" ><!--{$main.comp_contact}-->&nbsp;</td> 
                        </tr> 
                        <tr>
                          <td  height="25">联系电话：</td>
                          <td height="25" ><!--{$main.phone}-->&nbsp;</td>
                        </tr>
                        <tr> 
                            <td width="67"  height="25"><span class="STYLE6">E-mail：</span></td> 
                            <td height="25" ><!--{$main.email}-->&nbsp;</td> 
                        </tr> 
                        <tr> 
                            <th style="color: #0156c3"  colspan="2" height="25"><div align="center" class="STYLE6"> 
                              <div align="left">相关情况</div> 
                            </div></th> 
                        </tr> 
                        <tr> 
                            <td height="25" colspan="2" ><span class="STYLE6">1.公司现有人员 
                                <label> <!--{$main.comp_people}-->
                              人</label> 
                            </span></td> 
                            </tr> 
                        <tr> 
                          <td height="25" colspan="2" ><span class="STYLE6">2.公司成立时间年<!--{$main.comp_date}--></span></td> 
                            </tr> 
                        <tr> 
                          <td height="25" colspan="2" ><span class="STYLE6">3.公司注册资金 
                              <label> 
                            <!--{$main.comp_funds}-->万</label> 
                          </span></td> 
                            </tr> 
                        <tr> 
                          <td height="25" colspan="2" ><span class="STYLE6">4.是否了解福房网体系？
 
<!--{$main.comp_know}-->
 
 </span></td> 
                            </tr> 
                        <tr> 
                          <td height="25" colspan="2" ><span class="STYLE6"> 
                            <label>5.了解福房网的渠道是？   <!--{$main.know_way}-->                           </label> 
                          </span></td> 
                            </tr> 
                        <tr> 
                          <td height="25" colspan="2" ><span class="STYLE6">6.是否了解不动产行业？
 <!--{$main.know_1}-->

 
</span></td> 
                            </tr> 
                        <tr> 
                          <td height="25" colspan="2" ><span class="STYLE6">7.是否有任何合作伙伴？
 
<!--{$main.comp_pa}-->
 
</span></td> 
                            </tr> 
                        <tr> 
                          <td height="25" colspan="2" ><span class="STYLE6">8.请简述加盟福房网体系的原因.</span></td> 
                            </tr> 
                        <tr> 
                          <td height="25" colspan="2" ><!--{$main.comp_reason}-->&nbsp;</td> 
                            </tr> 
                    </tbody> 
                </table>
                

<!--{include file="`$dir_backend`/foot.htm"}-->