<!--{include file="`$dir_backend`/top.htm"}-->
<fieldset>
<legend><div class="nav_title" align="left" ><!--{$lang_category.theme_add}--></div></legend>

<form name="form1" method="post" action="<!--{$site_url}-->/backend/category/action_save">
  <table width="100%" border="0">
    <tr> 
      <td height="40" align="right"><!--{$lang_category.parent_class}-->：</td>
      <td height="40"> <select name="parent_cat" >
          <!--{$catgory}-->
        </select></td>
    </tr>
    <tr> 
      <td height="40" align="right"><!--{$lang_category.class_name}-->：</td>
      <td height="40"> <input name="main[c_title]" type="text" id="main[c_title]" value="<!--{$main.c_title}-->">
	  
	  <!--{type_error obj='main[c_title]'}-->
	  </td>
    </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_category.c_sort}-->&nbsp;</td>
      <td height="40"> <input name="main[c_sort]" type="text" id="main[c_sort]" value="<!--{$main.c_sort}-->"></td>
    </tr>
    <tr> 
      <td height="40" align="right"><!--{$lang_category.remarks}-->：</td>
      <td height="40"> <textarea name="main[c_remark]" cols="50" rows="4" id="main[c_remark]"><!--{$main.c_remark}--></textarea></td>
    </tr>
    <tr>
      <td height="40" align="right">&nbsp;</td>
      <td height="40">
	  <!--{create_button type='save'}-->
	  
        <input name="main[c_id]" type="hidden" id="main[c_id]" value="<!--{$main.c_id}-->">
        <input name="main[c_sn]" type="hidden" id="main[c_sn]" value="<!--{$main.c_sn}-->"></td>
    </tr>
  </table>
</form>
</fieldset>
<!--{include file="`$dir_backend`/foot.htm"}-->