<!--{include file="`$dir_backend`/top.htm"}-->

<legend><div class="nav_title">模型数据&raquo;<!--{$theme}--></div></legend>

<table>
	<!--{foreach from=$fields item=v}-->
	 <tr>
		<td><!--{$v.r_alias}-->：</td>
		<td>
			
		<!--{func_vsprintf html =$html[$v.f_id] name="main[`$v.r_name`]" value=$main[$v.r_name]|default:$v.r_default|escape:"html"}-->
		<!--{ci_form_error k="main[`$v.r_name`]"}-->
			
		</td>
		<td></td>
	</tr>
	<!--{/foreach}-->

	<!--{if $dt_mid}-->
	<tr>
		<td>附表：</td>
		<td>
			<table class="mytable">
				<thead>
					<tr>
						<!--{foreach from=$dt_fields item=item key=key}-->
						<th><!--{$item.r_alias}--></th>
						<!--{/foreach}-->
										
									
					</tr>
			    </thead>
				
				<!--{foreach from=$detail item=v key=k}-->
				<tr>
					
					
					<!--{foreach from=$dt_fields item=item key=key}-->
					<td>

			<!--{func_vsprintf html =$html[$item.f_id] name="detail[`$item.r_name`][$k]" value=$v[$item.r_name]|default:$item.r_default|escape:"html"}-->
					<!--{ci_form_error k="detail[`$item.r_name`][$k]"}-->

					</td>
					<!--{/foreach}-->
					
								
						
				</tr>
		<!--{/foreach}-->


			</table>
			<input type="hidden" id="total_detail" value="<!--{$detail_total}-->" />
		</td>
		<td></td>
	</tr>
	<!--{/if}-->
	<tr>
		<td colspan="3" align="center">
		<!--{create_button type='close' url="javascript:window_close();"}-->
		
		<input size="80" type="hidden" name="main[<!--{$primary}-->]" value="<!--{$main[$primary]}-->">
	</td></tr>

</table>

<script>
$(function($){
	
	$("input").attr("readonly","true");
	$("input").css("border","0");

})
</script>

<!--{include file="`$dir_backend`/foot.htm"}-->