<!--{include file="`$dir_backend`/top.htm"}-->

<div class="nav_title" align="left" ><!--{$class_info.class_theme}--></div>
<div  align="right"><a href="<!--{$site_url}-->/backend/product/action_add/?parent_class=<!--{$smarty.get.parent_class}-->"><img src="<!--{$img_url}-->/add_<!--{$lang_type}-->.png"  /></a></div>

<table class="search">
<tr>
<td>
	<form id="form_search" action="" method="get">
    <!--{$lang_products.category}-->：
    <select name="search_class">
    <!--{$class_info.class_select}-->
    </select>
    
    <!--{$lang_products.title}-->： 
    <input type="text" name="pro_title" value="<!--{$smarty.get.pro_title}-->" />
	<input type="hidden" name="parent_class" value="<!--{$smarty.get.parent_class}-->">
	<input type="submit" name="submit" value="<!--{$lang_products.query}-->" />
	</form>

</td>
</tr>
</table>

<p>&nbsp;</p>

<div id="ajax_content">

</div>


<script language="JavaScript">
	overclass($('#archives ul'));
	//全选动作
	function chkall2(obj){			
		
		if($(obj).prop('checked')==true){
			$('.pro_ids').prop('checked',true);			
		}else{
			$('.pro_ids').prop('checked',false);
		}
	
	}
	
	//删除确认
	function chkdel2(){
		if($('.pro_ids:checked').size()>0){
			if(confirm('确定删除?')){
				return true;
			}else{
				return false;	
			}
			
		}else{
			alert('请选择');	
			return false;
		}
	}
	
	
	//load default list data

	ajaxLoadList("backend/product/action_ajax_list?parent_class=<!--{$smarty.get.parent_class}-->");
	
	//delete record
	function delRecord(url,obj){
		if(confirm('<!--{$lang_products.confirm_delete}-->')){
			$.get(url,delok(obj));
		}
	}
	
	function delok(r){
		$(r).parents("tr:first").remove();
		alert('删除成功');
	}
	//ajax search form
	var options = {
	    target:     '#ajax_content',
	    url:        '<!--{$site_url}-->/backend/product/action_ajax_list/',
	    dataType:        null,
	    clearForm: false,
	 	resetForm: false ,
	    success: function(responseText,statusText) {
	    }
	};
	 $('#form_search').ajaxForm(options);
</script>
<!--{include file="`$dir_backend`/foot.htm"}-->