<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title" style="text-align:left;">万能标签效果预览</div>
<div style="width:800px;">

	<ul id="head">	
		<li>标签编号：</li>
		<li>
			
			<!--{$main.t_id}-->
		</li>
		
	

		<li>标签名称：</li>
		<li>
			
			<!--{$main.t_name}-->
		</li>
		
	

	
		<li>类型：</li>
		<li>
	
			<!--{$template_types[$main.t_type]}-->
		</li>
		
	
	
		<li >数据表：</li>
		<li >
				<!--{$main.t_db_name}-->
		
		</li>
		
	
	</ul>
		



		 <div id="tab_area">
    
	    	
	        <ul class="tabs">
	            <li><a href="javascript:;" title="content_1" class="tab active">列表页</a></li>
	            <li><a href="javascript:;" title="content_2" class="tab">内页</a></li>
	            <li><a href="javascript:;" title="content_3" class="tab">样式1</a></li>
	            <li><a href="javascript:;" title="content_4" class="tab">样式2</a></li>
	            <li><a href="javascript:;" title="content_5" class="tab">样式3</a></li>
	            <li><a href="javascript:;" title="content_6" class="tab">样式4</a></li>
	        </ul>
        
	        <div id="content_1" class="  content content_show ">
	     
				<pre class="htmlCode    brush:php;toolbar:false;" >
				
				<!--{tag escape=ulue t_id=$main.t_id html_type="list" escape=ulue}-->
				
				
				</pre>
	        	
	        </div>
	        <div id="content_2" class="  content content_show ">
	        	<pre class="htmlCode    brush:php;toolbar:false;" >
	        	
	        	<!--{tag escape=ulue t_id=$main.t_id html_type="detail" }-->
	        	</block>
	        	</pre>
	        </div>
	        <div id="content_3" class="  content content_show ">
	        	<pre class="htmlCode    brush:php;toolbar:false;" >
	        	
	        	<!--{tag escape=ulue t_id=$main.t_id html_type="style1"}-->
	        	
	        	</pre>
	        </div>
	        <div id="content_4" class="  content content_show ">
	        	<pre class="htmlCode    brush:php;toolbar:false;" >
	        	
	        	<!--{tag escape=ulue t_id=$main.t_id html_type="style2"}-->
	        	
	        	</pre>
	        </div>
	        <div id="content_5" class="  content content_show ">
	        	<pre class="htmlCode    brush:php;toolbar:false;" >
	        	
	        	<!--{tag escape=ulue t_id=$main.t_id html_type="style3"}-->
	        	
	        	</pre>
	        </div>
	        <div id="content_6" class="  content content_show ">
	        	<pre class="htmlCode    brush:php;toolbar:false;" >
	        	
	        	<!--{tag escape=ulue t_id=$main.t_id html_type="style4"}-->
	        	
	        	</pre>
	        </div>
	    </div> 


		
	
	

<div align="right"><!--{create_button type='close' url="javascript:window_close();"}--></div>

</div>


<!--{include file="`$dir_backend`/foot.htm"}-->