<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title">模型数据</div>

<div  align="right"><a href="<!--{func_site_url segments='/backend/tree/action_root_add'}-->"><img src="<!--{$img_url}-->/add_<!--{$lang_type}-->.png"  /></a></div>
  
<table class='mytable'>
	<thead>
<tr>
	<th>
	栏目名称
	</th>	
	<th>
	操作
	</th>
	
	

</tr>
	</thead>
<tbody>
<!--{foreach from=$treeIds key=key item=item}-->	
<tr>
	<td>
		<a href="<!--{func_site_url segments="backend/tree/action_root_set/`$key`"}-->">
			<!--{$item}--></a>
	</td>
	<td>
		<!--{ci_anchor segment="backend/tree/action_root_add/`$key`" attrs="class:link_mod"}-->
		<!--{ci_anchor segment="backend/tree/action_root_set/`$key`" attrs="class:link_view"}-->
	</td>
	
</tr>
<!--{/foreach}-->
</tbody>	
</table>

<!--{include file="`$dir_backend`/foot.htm"}-->