<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>X6CMS2.2(20130305) - 小六网络科技</title>
<meta name="author" content="小六网络科技" />
<link rel="stylesheet" type="text/css" href="http://localhost/x6cms/css/style.css" />
<link rel="stylesheet" type="text/css" href="http://localhost/x6cms/js/kindeditor/themes/default/default.css" />
<link rel="shortcut icon" href="http://localhost/x6cms/images/favicon.ico" />
<script type="text/javascript" src="http://localhost/x6cms/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost/x6cms/js/admin.public.js"></script>
<script type="text/javascript" src="http://localhost/x6cms/js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="http://localhost/x6cms/js/datejs/WdatePicker.js"></script>
<script type="text/javascript" charset="utf-8" src="http://localhost/x6cms/js/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="http://localhost/x6cms/js/language/zh_cn.js"></script>
<script type="text/javascript">
var baseurl = "http://localhost/x6cms/";
var siteaurl = "http://localhost/x6cms/index.php?/admin";
var siteurl = "http://localhost/x6cms/index.php?";
</script>
</head><body><div id="main_head" class="main_head" style="height:35px;">
<table class="menu">
<tr><td>
<a href="http://localhost/x6cms/index.php?/admin/adminindex" class="current">后台首页</a><font color="red">提示：您的安装程序未删除，严重影响网站安全，请尽快删除根目录下的install文件夹！</font></td></tr>
</table>
</div>
<div id="main_head" style="padding-top:35px;">
<table cellSpacing=0 width="100%" class="content_list">
<tr><th width="50%" align="left" colspan="2">个人资料</th><th align="left" colspan="2" width="50%">系统信息</th></tr>
<tr><td width="15%">用户名</td><td width="35%">admin</td><td width="15%">X6CMS版本</td><td width="35%">2.2(20130305)</td></tr>
<tr><td width="15%">用户组</td><td width="35%">1</td><td width="15%">运行环境</td><td width="35%">Apache/2.2.14 (Win32) PHP/5.2.12</td></tr>
<tr><td width="15%">最后登录时间</td><td width="35%">2013-09-02 15:42:23</td><td width="15%">上传许可</td><td width="35%">32M</td></tr>
<tr><td width="15%">最后登录ip</td><td width="35%">127.0.0.1</td><td width="15%">MYSQL版本</td><td width="35%">5.1.42-community-log</td></tr>
<tr><td width="15%">登录次数</td><td width="35%">309</td><td width="15%">剩余空间</td><td width="35%">200913.94M</td></tr>
<tr><th width="50%" align="left" colspan="2">网站统计</th>
	<th  width="15%" align="left">官方动态</th>
	<th width="35%" align="right"><a href="http://bbs.x6cms.com" target="_blank">Bug提交</a>&nbsp;&nbsp;&nbsp;<a href="http://www.x6cms.com" target="_blank">更多动态</a></th></tr>

<tr><td width="15%">下载模型</td><td width="35%">4</td><td width="50%"  style="padding:0;" colspan="2" rowspan="6"><iframe width="100%" style="margin: 0;" height="150" src="http://www.x6cms.com/help" frameBorder="0" width="295" scrolling="no"></iframe></td></tr>
<tr><td width="15%">文章模型</td><td width="35%">14</td></tr>
<tr><td width="15%">产品模型</td><td width="35%">9</td></tr>
<tr><td width="15%">问答模型</td><td width="35%">5</td></tr>
<tr><td width="15%">招聘模型</td><td width="35%">3</td></tr>
<tr><td width="15%">在线人数</td><td width="35%">1</td></tr>
</table>
</div>
</body></html>