<!--{include file="`$dir_backend`/top.htm"}-->
<center><h1>用户<!--{$main.admin_user}-->详细信息</h1></center>
<table class="mytable" width="80%">
<tr>
	<td class="right" width="80">姓名：</td><td class="left">
		<!--{$main.name}-->
	
	</td>
</tr>



<tr>
	<td class="right">电话：</td><td class="left">
		<!--{$main.tel}-->
	
	</td>
</tr>
<tr>
	<td class="right">手机：</td><td class="left">
		<!--{$main.phone}-->
	</td>
</tr>
<tr>
	<td class="right">qq：</td><td class="left">
		<!--{$main.qq}-->
	
	</td>
</tr>
<tr>
	<td class="right">email：</td><td class="left">
		<!--{$main.email}-->
	
	</td>
</tr>
</table>
<center class="margin_25"><a href="javascript:window.close();" >【关闭】</a></center>
<!--{include file="`$dir_backend`/foot.htm"}-->