<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://localhost/x6cms/images/favicon.ico" />
<style>* { padding:0; margin:0; }
html, body { height:100%; border:none 0; }
iframe { width:100%; height:100%; border:none 0; }
</style><title>X6CMS后台管理中心 - Powered by X6CMS 2.2(20130305)</title>
<link rel="stylesheet" type="text/css" href="<!--{$css_url}-->style.css" />
<script type="text/javascript" src="<!--{$js_url}-->jquery.min.js"></script>
<script type="text/javascript" src="<!--{$js_url}-->core.js"></script>
<script type="text/javascript" src="<!--{$js_url}-->/artdialog/jquery.artDialog.js?skin=default"></script>
</head><body>
<iframe src="<!--{$site_url}-->/backend/login/main_index" name="ifr_main"></iframe></body></html>
