<!--{include file="`$dir_backend`/top.htm"}-->



      

<form id="form1" name="form1" method="post" action="<!--{$site_url}-->/backend/download/action_save" onsubmit="return validator(this)"  enctype="multipart/form-data">



        
  <table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td  colspan="2" align="left" class="nav_title"><!--{$class_info.class_theme}--></td>
    </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_download.category}-->：</td>
      <td height="40">   
      <select name="main[info_class_sn]"  >   
      <!--{$class_info.class_select}-->
      </select>
      &nbsp;</td>
    </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_download.product}-->：</td>
      <td height="40"><label>
        <select name="main[pro_id][]" size="10" multiple="multiple" id="main[pro_id]">
        <!--{html_options selected=$pro_select options=$pro_options}-->
        
        </select>
      </label>
      <!--{$lang_download.multiple_select}-->
      </td>
    </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_download.title}-->：</td>
      <td height="40"><label>
        <input name="main[info_title]" type="text" id="main[info_title]" size="50" value="<!--{$main.info_title}-->"  valid='required' errmsg='<!--{$lang_download.inp_title}-->' />
        <!--{php}-->echo form_error("main[info_title]"); <!--{/php}-->
      </label></td>
    </tr>
      <tr>
        <td height="40" align="right"><!--{$lang_download.soft_language}-->： </td>
        <td height="40">
        <!--{html_options name="main[info_soft_language]" options=$class_info.select_soft_language selected=$main.info_soft_language}-->
        
        
        </td>
      </tr>
      <tr>
        <td height="40" align="right"><!--{$lang_download.soft_class}-->：</td>
        <td height="40">
        
       
        
         <select name="main[info_soft_class_sn]"  >   
      <!--{$class_info.soft_class_select}-->
      </select>
        
        &nbsp;</td>
      </tr>
      <tr>
        <td height="40" align="right"><!--{$lang_download.date}-->：</td>
        <td height="40"><label>
          <input name="main[info_date]" readonly="readonly" type="text" id="main[info_date]" size="12"  value="<!--{$main.info_date|default:$smarty.now|date_format:"%Y-%m-%d"}-->" class="Wdate" onfocus="WdatePicker();"/>
          </label>
          <!--{php}-->echo form_error("main[info_date]"); <!--{/php}-->
          
          </td>
      </tr>
      <tr>
        <td height="40" align="right"><!--{$lang_download.file_upload}-->：</td>
        <td height="40">
          <input type="file" name="file1" id="file1" />
          <input name="main[info_soft_url]" type="hidden" id="main[info_soft_url]" value="<!--{$main.info_soft_url}-->" />
          
          <!--{if $main.info_soft_url}-->
          <div>
          <a href="<!--{$base_url}-->/<!--{$main.info_soft_url}-->" target="_blank"><!--{$lang_download.file_uploaded}-->(<!--{$main.info_soft_url}-->)</a>
          </div>
          <!--{/if}-->
          
        </td>
      </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_download.content}-->：</td>
      <td height="400"><label>
        <textarea name="main[info_content]"  cols="45" rows="5"   errmsg="<!--{$lang_download.inp_content}-->" id="content"   valid="custom" custom="getContentValue"     style="display:none" ><!--{$main.info_content}--></textarea>
                      <!--{$editor}--></textarea>
      </label>
        <!--{php}-->echo form_error("main[info_content]",'
        <div id="error_span" class="red_font">','</div>'); <!--{/php}-->      </td>
    </tr>
   
    <tr>
      <td height="40" align="right">&nbsp;</td>
      <td height="40" align="right">
       
       
        <input name="parent_class" type="hidden" id="parent_class" value="<!--{$class_info.parent_class}-->" />
        
        
        
        
        <input name="main[info_id]" type="hidden"  value="<!--{$main.info_id}-->" />
      
     </td>
    </tr>

            <tr>
      <td height="40" align="right"><!--{$lang_download.author}-->：</td>
      <td height="40"><label>
        <input type="text" name="main[info_author]" id="main[info_author]"  value="<!--{$main.info_author}-->"/>
      </label></td>
    </tr>

    
     <tr>
      <td height="40" align="right"><!--{$lang_download.order}-->：</td>
      <td height="40" align="left"><label>
        <input name="main[info_order]" type="text" id="main[info_order]" size="5" maxlength="15" value="<!--{$main.info_order}-->" />
      </label></td>
    </tr>
    <tr>
      <td height="40" align="right"><!--{$lang_download.visit}-->：</td>
      <td height="40" align="left"><input name="main[info_view]" type="text" id="main[info_view]" size="5" maxlength="15" value="<!--{$main.info_view}-->" /></td>
    </tr>
    <tr>
      <td height="40" align="right">&nbsp;</td>
      <td height="40" align="left"><input type="submit" name="button" id="button" value="<!--{$lang_download.submit}-->" /></td>
    </tr>    
    </table>             


</form>
<!--{include file="`$dir_backend`/foot.htm"}-->
