<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>X6CMS2.2(20130305) - 小六网络科技</title>
<style>
body {margin: 0;padding: 0;background:#E2E9EA ;cursor: E-resize;}
</style>

</head>
<body onselect="return false;">
<table height="100%" cellspacing="0" cellpadding="0" id="tbl">
  <tr><td style="padding-left:1px;"><a href="javascript:toggleMenu();"><img src="<!--{$img_url}-->admin_barclose.gif" width="11" height="60" id="img" border="0"  /></a></td></tr>
</table>
</body></html>