<!--{include file="`$dir_backend`/top.htm"}-->
<script language='javascript'>

	function CPos(x, y)
	{
		this.x = x;
		this.y = y;
	}
	
	function GetObjPos(ATarget)
	{
		var target = ATarget;
		var pos = new CPos(target.offsetLeft, target.offsetTop);
		var target = target.offsetParent;
		while (target)
		{
			pos.x += target.offsetLeft;
			pos.y += target.offsetTop;
			target = target.offsetParent
		}
		return pos;
	}
	
	
	function showimg(event_obj){
		var pos = GetObjPos(event_obj);
		var obj_id = 'people_container';
		var obj = document.getElementById(obj_id);	
		obj.style.left = parseInt(pos.x + 100)+'px';		
		obj.style.top = parseInt(pos.y - 80)+'px';	
		document.getElementById('showbigimg').innerHTML = $(event_obj).next().html();		
		obj.style.display = 'block';
		//clearTimeout(setTimeout(function(){obj.style.display = 'none';},3000)-1);
		
	}
</script>


<div class="nav_title" align="left" >&nbsp;<!--{$lang_message.theme_list}--></div>
<iframe src="" style="display:none" name="_myiframe"></iframe>


<div   id="people_container" style="position:absolute;display:none"  >
	<div style="background-image:url(images/left_big_line1.gif);width:28px;height:228px;float:left;"></div><div id="showbigimg" style="	background-color:#efefef;width:300px;height:224px;border:1px solid #80BDCB;float:left; border-left:0px;" ></div>
</div>

<table class="search"  style="width:100%">
<tr><td>
	<form action="<!--{$site_url}-->/backend/message/action_list/" method="get">   
    <!--{$lang_message.name}-->：
        <input type="text" name="ms_name" value="<!--{$smarty.get.ms_name}-->" />

    <!--{$lang_message.tel}-->：
        <input type="text" name="ms_tel" value="<!--{$smarty.get.ms_tel}-->" />
        
  
    <!--{$lang_message.email}-->：
        <input type="text" name="ms_email" value="<!--{$smarty.get.ms_email}-->" />      
        

	 <!--{create_button type='search'}-->
	</form>

</td>
</tr>
</table>



   
   
  <!--{foreach from=$list item=item key=key}-->


    <table width="100%" border="0" cellpadding="3" class="mytable" style="margin-top:20px;">


  <tr style="height:30px!important; background-color:#f1f1f1">
    <th align="right">问：</th>
    <td colspan="3" align="left"><a href='#' onmouseout="$('#people_container').hide();" onmouseover="showimg(this);" ><!--{$item.ms_title}--></a>
		&nbsp;&nbsp;
		<!--{$item.ms_content}-->
		&nbsp;&nbsp;
		<!--{$item.ms_date}-->&nbsp;&nbsp;<!--{$item.ms_ip}-->
		&nbsp;&nbsp;
       <a href="<!--{$site_url}-->/backend/message/action_del?ms_id=<!--{$item.ms_id}-->" onclick="return confirm('确定删除?');"><img name="" src="<!--{$img_url}-->/del.png"  alt="" /></a>    </div> 

    <div style="display:none;margin-left:50px;">
	    <li>公司名称：<!--{$item.ms_company}--></li>
	    <li>联系人：<!--{$item.ms_name}--></li>
	    <li>电话：<!--{$item.ms_tel}--></li>
	    <li>传真：<!--{$item.ms_fax}--></li>
	    <li>E-mail：<!--{$item.ms_email}--></li>
    </div><br>
	

    
    
    </td>
    </tr>
    
     
    
  <tr>
  
  
    <th align="right"></th>
    <td colspan="3" align="left">&nbsp;</td>
    </tr>
  <tr>
    <th align="right">答：</th>
    <td colspan="3" align="left"><form action="<!--{$site_url}-->/backend/message/action_save" method="post" name="form1" target="_myiframe" id="form1">
      <textarea name="main[ms_feedback]" cols="50" rows="5" id="main[ms_feedback]"><!--{$item.ms_feedback}--></textarea>
        <label>
        <input name="main[ms_id]" type="hidden" id="main[ms_id]"  value="<!--{$item.ms_id}-->"/>
        <input name="is_feed" type="hidden" id="is_feed" value="1" />
       
        </label>
		
		<!--{create_button type='save'}-->
    </form>      <label></label></td>
  </tr>
  <tr>
    <th align="right">显示：</th>
    <td colspan="3" align="left">
	
	<a href="javascript:;"  class="<!--{if $item.ms_valid}-->yes<!--{else}-->no<!--{/if}-->"    alt=""  onclick="ajax_change_state(this,'message','ms_id','<!--{$item.ms_id}-->','ms_valid');">&nbsp;</a>

	
	</td>
  </tr>
</table>



<!--{/foreach}-->
<div class="page_link">
	<!--{$page_link}-->
</div>



<!--{include file="`$dir_backend`/foot.htm"}-->