<!--{include file="`$dir_backend`/top.htm"}-->
<!--{php}-->
	echo form_fieldset("修改密码");
	echo form_open("backend/system_manage/save_pass");
<!--{/php}-->
<table class="center" width="80%">
<tr><td class="right">用户名：</td><td class="left"><!--{$main.admin_user}-->
<input type="hidden" name="main[admin_user]" value="<!--{$main.admin_user}-->">

</td></tr>
<tr><td class="right">旧密码：</td><td class="left"><input type="password" name="main[old_password]">
<!--{php}--> echo form_error("main[old_password]","<div id='error_span' class='red_font'>","</div>");<!--{/php}-->

</td></tr>
<tr><td class="right">新密码：</td><td class="left"><input type="password" name="main[new_password]">
<!--{php}--> echo form_error("main[new_password]","<div id='error_span' class='red_font'>","</div>");<!--{/php}-->
</td></tr>
<tr><td class="right">密码确认：</td><td class="left"><input type="password" name="main[confirm_password]">
<!--{php}--> echo form_error("main[confirm_password]","<div id='error_span' class='red_font'>","</div>");<!--{/php}-->
</td></tr>
</table>
<center>

<input type="hidden" name="main[admin_id]" value="<!--{$main.admin_id}-->">

<!--{create_button type='save'}-->


</center>
<!--{include file="`$dir_backend`/foot.htm"}-->