<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title><!--{$item_lang.sys_backend}--></title> 
<!--{$header_html.css}-->
<!--{$header_html.js}-->
<!--{literal}-->
<script language="javascript">
$(window).load(function(){
	$('#menu_0 a:first').trigger('click');
});
</script>
<!--{/literal}-->
<style>
	.main_left {table-layout:auto; background:url(<!--{$img_url}-->/left_bg.gif)}
	.main_left_top{ background:url(<!--{$img_url}-->/left_menu_bg.gif); padding-top:2px !important; padding-top:5px;}
	.main_left_title{text-align:left; padding-left:15px; font-size:14px; font-weight:bold; color:#fff;}
	.left_iframe{HEIGHT: 92%; VISIBILITY: inherit;WIDTH: 180px; background:transparent;}
	.main_iframe{HEIGHT: 92%; VISIBILITY: inherit; WIDTH:100%; Z-INDEX: 1}
	table { font-size:12px; font-family : tahoma, 宋体, fantasy; }
	td { font-size:12px; font-family : tahoma, 宋体, fantasy;}
</style>
<script language="javascript">
	var status = 1;
	var Menus = new DvMenuCls;
	document.onclick=Menus.Clear;
	function switchSysBar(){
	     if (1 == window.status){
			  window.status = 0;
	          switchPoint.innerHTML = '<img src="<!--{$img_url}-->/left.gif">';
	          document.all("frmTitle").style.display="none"
	     }
	     else{
			  window.status = 1;
	          switchPoint.innerHTML = '<img src="<!--{$img_url}-->/right.gif">';
	          document.all("frmTitle").style.display=""
	     }
	}
</SCRIPT>

<!--导航部分-->
<div class="top_table">
<div class="top_table_leftbg">
	<div class="system_logo"><img src="<!--{$img_url}-->/logo_up.gif"></div>
	<div class="menu">
	
		<ul>


 <!--{foreach from=$rights_options item=item key=key}-->

			<li id="menu_<!--{$key}-->"  onClick="getleftbar(this);"><a href="javascript:;" target='_self'><!--{$item.r_title}--></a>
			<div class="menu_childs" onMouseOut="Menus.Hide(0);">
				<ul>
				<!--{foreach from=$item.detail key=key1 item=item1}--> 
						
						<li>
							<!--{if $item1.r_url|mb_substr:0:4:'utf8'=='http'}-->
								<a href="<!--{if $item1.r_url=='event'}-->javascript:;<!--{else}--><!--{$item1.r_url}--><!--{/if}-->"  <!--{$item1.r_js_action}-->  title="<!--{$item1.r_title}-->" target="frmright"><!--{$item1.r_title}--></a></li>
							<!--{else}-->
								<a href="<!--{if $item1.r_url=='event'}-->javascript:;<!--{else}--><!--{$site_url}-->/<!--{$item1.r_url}--><!--{/if}-->"  <!--{$item1.r_js_action}-->  title="<!--{$item1.r_title}-->" target="frmright"><!--{$item1.r_title}--></a></li>
							<!--{/if}-->
							<!--{if $item1.detail}-->	
								<ul>
								<!--{foreach from=$item1.detail key=key2 item=item2}--> 
									<!--{if $item2.r_url}-->
										<li>
										<!--{if $item2.r_url|mb_substr:0:4:'utf8'=='http'}-->
											<a href="<!--{if $item2.r_url=='event'}-->javascript:;<!--{else}--><!--{$item2.r_url}--><!--{/if}-->"  <!--{$item2.r_js_action}-->  title="<!--{$item2.r_title}-->" target="frmright"><!--{$item2.r_title}--></a></li>
										<!--{else}-->
											<a href="<!--{if $item2.r_url=='event'}-->javascript:;<!--{else}--><!--{$site_url}-->/<!--{$item2.r_url}--><!--{/if}-->"  <!--{$item2.r_js_action}-->  title="<!--{$item2.r_title}-->" target="frmright"><!--{$item2.r_title}--></a></li>
										<!--{/if}-->
									</li> 
						
									<!--{/if}-->	

								<!--{/foreach}-->
								</ul>
							<!--{/if}-->	
							
						 </li>
							
						
				<!--{/foreach}-->
				</ul>
			</div>
			<div class="menu_div"><img src="<!--{$img_url}-->/menu01_right.gif" style="vertical-align:bottom;"></div></li>
 <!--{/foreach}-->
			<!--{if $ci_config.lang_multiple}-->
			<li style="float:right;">   
			  <DIV style="DISPLAY: block; HEIGHT: 54px;text-align:right;color:#ffffff!important;padding-right:20px;">选择语种:
			    <select style="color:#ff0000!important" onChange="parent.location.href='<!--{$site_url}-->/backend/common/lang_set/?lang='+this.value+'&url=<!--{$site_url}-->/backend/login/center/';" >
			    <!--{html_options options=$lang_all_options selected=$lang_type}-->
			    </select>
    
   			  </DIV>
  		  </li>
		<!--{/if}-->
		</ul>
	</div>
</div>
</div>
<div style="height:24px; background:#337ABB;"></div>
<!--导航部分结束-->

<TABLE border=0 cellPadding=0 cellSpacing=0 height="92%" width="100%" style="background:#337ABB;">
<TBODY>
<TR>
  <TD align=middle id=frmTitle vAlign=top name="fmTitle" class="main_left">
	<table width="180" border="0" cellspacing="0" cellpadding="0" class="main_left_top">
	  <tr height="32">
	    <td valign="top"></td>
	    <td class="main_left_title" id="leftmenu_title">功能菜单</td>
	    <td valign="top" align="right"></td>
	  </tr>
	</table>
	<IFRAME frameBorder=0 id=frmleft name=frmleft src="<!--{$site_url}-->/backend/login/left" class="left_iframe" allowTransparency="true" ></IFRAME>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr height="32">
	    <td valign="top"></td>
	    <td valign="bottom" align="center"></td>
	    <td valign="top" align="right"></td>
	  </tr>
	</table>
  </td>
  <TD bgColor=#337ABB style="WIDTH: 10px">
	   <TABLE border=0 cellPadding=0 cellSpacing=0 height="100%">
	    <TBODY>
	    <TR>
	     <TD onclick=switchSysBar() style="HEIGHT: 100%">
	     <SPAN class=navPoint id=switchPoint title="关闭/打开左栏"><img src="<!--{$img_url}-->/right.gif"></SPAN>
	     </TD>
	    </TR>
	    </TBODY>
	   </TABLE>
     </TD>
  <TD bgcolor="#ffffff" width="100%" vAlign=top>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#C4D8ED">
	  <tr height="32">
	    <td valign="top" width="10" background="<!--{$img_url}-->/bg2.gif"><img src="<!--{$img_url}-->/teble_top_left.gif" alt="" /></td>
	    <td background="<!--{$img_url}-->/bg2.gif"width="28" ><img src="<!--{$img_url}-->/arrow.gif" alt="" align="absmiddle" /></td>
	    <td background="<!--{$img_url}-->/bg2.gif"><span style="float:left"></span><span style="float:left;width:500px;" id="dvbbsannounce">
<script type="text/javascript">
	function show(){
	var aa=new Date();
	bb=aa.getFullYear()+"年"+(aa.getMonth()+1)+"月"+aa.getDate()+"日\r";
	bb+="星期"+'日一二三四五六'.charAt(aa.getDay())+"\r"+aa.getHours()+"时";
	bb+=aa.getMinutes()+"分"+aa.getSeconds()+"秒";
	document.all.cc.innerHTML=bb+'&nbsp;&nbsp;<!--{$weather.future.name}-->&nbsp;<!--{$weather.future.wea_0}-->&nbsp;<!--{$weather.real.temperature}-->&#8451;';
	setTimeout("show()",1000)
	}
</script>
<body onload=show()>
<div id=cc></div></span></td>
		<td background="<!--{$img_url}-->/bg2.gif" style="text-align:right; color: #135294; "><!--{$user_info.admin_user}-->(<!--{$user_info.role_name}-->) | <a href="<!--{$site_url}-->/backend/login/center" target='_top'>后台首页</a> | <a href="<!--{$site_url}-->" target="_blank">网站首页</a> | <a href="<!--{$site_url}-->/backend/system_manage/exit_system" target="_top">退出</a> </td>
	    <td align="right" valign="top" background="<!--{$img_url}-->/bg2.gif" width="28" ><img src="<!--{$img_url}-->/teble_top_right.gif" alt="" /></td>
	    <td align="right" width="16" bgcolor="#337ABB"></td>
	  </tr>
	</table>
	<IFRAME frameBorder=0 id=frmright name=frmright scrolling=yes src="" class="main_iframe"></IFRAME>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#C4D8ED;">
	<tr>
	<td><img src="<!--{$img_url}-->/teble_bottom_left.gif" alt="" width="5" height="6" /></td>
	<td align="right"><img src="<!--{$img_url}-->/teble_bottom_right.gif" alt="" width="5" height="6" /></td>
	<td align="right" width="16" bgcolor="#337ABB"></td>
	</tr>
	</table>
</TD>
</TR>
</TBODY>
</TABLE>

</body>
</html>