<!--{include file="`$dir_backend`/top.htm"}-->
<div class="nav_title">字段模板管理</div>
<div  align="right"><a href="<!--{func_site_url segments='/backend/fields/action_add'}-->"><img src="<!--{$img_url}-->/add_<!--{$lang_type}-->.png"  /></a></div>

<table class='search'>
	<tr><td>
		<form action='<!--{func_site_url segments="backend/fields/action_list"}-->' method="get">
			字段类型：
			<select name="f_type">
				<!--{html_options options=$fields_types selected=$smarty.get.f_type}-->
			</select>
			字段名称：
			<input type="text" name="f_name" value="<!--{$smarty.get.f_name}-->">
			
			<!--{create_button type="search"}-->
			<input type="text" name="%name" value="%value" class="auto_id">
			<input type="text" id="autoComplete_tag" value="" rel="backend/common/action_autocomplete_admins2">

			<input type="text" name="%name" value="%value" class="auto_id">

			<input type="text" id="autoComplete_tag3" value="" rel="backend/common/action_autocomplete_admins3">
			


			<script language='javascript'>


			function load_autocomplete(_auto_obj){

	  	
			
			var cache = {};
				

					_auto_obj.autocomplete({
						autoFocus:true,
						
					     source: function( request, response ) {
					     	
					     var ran_index = Math.round(Math.random()*100000);
						_auto_url = site_url+_auto_obj.attr('rel');
				        var term = request.term;
				        if ( term in cache ) {
				          response( cache[term] );
				          return;
				        }
				        
				        $.getJSON(_auto_url, request, function( data, status, xhr ) {
				          cache[term] = data;
				          response( data );
				        });
				      },
					      minLength: 1,
					      delay:400,
					     
					      response: function( event, ui ) {	_auto_obj.prevAll('input.auto_id').val('').val('');}, 
					      focus: function( event, ui ) {	_auto_obj.prevAll('input.auto_id').val(ui.item.id);},

					    });

			}
  $(function() {
    

  load_autocomplete($('#autoComplete_tag'));
  load_autocomplete($('#autoComplete_tag3'));



  });
  </script>


		</form>
	</td></tr>
</table>

  <form id="form2" method="post" action="<!--{func_site_url segments='/backend/fields/action_del'}-->" onsubmit="return chkdel2();">   
<table class='mytable'>
	<thead>
<tr>
	<th>
		<!--{create_button type='delete' ext=''}-->		
		<input type="checkbox" id="chkall"  value="1" onclick="CheckAll(this.form);">
	</th>
	<th>编号</th>
	<th>名称</th>
	<th>字段类型</th>
	<th >操作</th>

</tr>
	</thead>
<tbody>
<!--{foreach from=$list item=item}-->	
<tr>
	<td>
		<input type="checkbox" class="ids"  name="f_id[]" value="<!--{$item.f_id}-->">
	</td>
	<td><!--{$item.f_id}--></td>
	<td><!--{$item.f_name}--></td>
	<td><!--{$fields_types[$item.f_type]}--></td>
	<td >
		<!--{php}-->		

			\$attrs  = array(
				"class"=>"link_mod",
			);
			echo anchor("backend/fields/action_add/".\$template->tpl_vars['item']->value['f_id'],"&nbsp;",\$attrs);
			
			\$attrs  = array(
				"class"=>"link_del",
				"onclick"=>"return confirm('确定删除?');",
			);
			
			echo anchor("backend/fields/action_del/".\$template->tpl_vars['item']->value['f_id'],"&nbsp;",\$attrs);
			
			
			<!--{/php}-->
			<!--{ci_anchor segment="backend/fields/action_view/`$item.f_id`" title="&nbsp;" attrs="target:_blank,class:link_view"}-->

	</td>
</tr>
<!--{/foreach}-->
</tbody>	
</table>
</form>
<div class="page_link">
	<!--{$page_link}-->
</div>
<!--{literal}-->
<script language="JavaScript">
	//删除确认
	function chkdel2(){
		if($('.ids:checked').size()>0){
			if(confirm('确定删除?')){
				return true;
			}else{
				return false;	
			}
			
		}else{
			alert('请选择');	
			return false;
		}
	}
</script>
<!--{/literal}-->
<!--{include file="`$dir_backend`/foot.htm"}-->