<!--{include file="`$dir_backend`/top.htm"}-->
<fieldset>
<legend><div class="nav_title">模型数据&raquo;<!--{$theme}--></div></legend>
<form  name="form1" id="form1" method="post" action="<!--{func_site_url segments='backend/mdata/action_save'}-->">
<table>
	<!--{foreach from=$fields item=v}-->
	 <tr>
		<td><!--{$v.r_alias}-->：</td>
		<td>
			
		<!--{func_vsprintf html =$html[$v.f_id] name="main[`$v.r_name`]" value=$main[$v.r_name]|default:$v.r_default|escape:"html"}-->
		<!--{ci_form_error k="main[`$v.r_name`]"}-->
			
		</td>
		<td></td>
	</tr>
	<!--{/foreach}-->
	
	<tr>
		<td colspan="3" align="center">
		<!--{create_button type='save'}-->
		<input size="80" type="hidden" name="main[<!--{$primary}-->]" value="<!--{$main[$primary]}-->">
	</td></tr>

</table>
</form>	
</fieldset>

<!--{include file="`$dir_backend`/foot.htm"}-->