<!--{include file="`$dir_backend`/top.htm"}-->

<div class="nav_title">模型数据&raquo;<!--{$theme}--></div>
<div  align="right"><a href="<!--{func_site_url segments='/backend/mdata/action_add'}-->"><img src="<!--{$img_url}-->/add_<!--{$lang_type}-->.png"  /></a></div>
<!--{if $querys}-->
<table class='search'>
	<tr><td>
		<form action='<!--{func_site_url segments="backend/mdata/action_list"}-->' method="get">
			<!--{foreach from=$querys key=k item=v}-->
				<!--{$v.name}-->:<!--{func_vsprintf html =$v.html name=$k value=','|implode:(array)$smarty.get.$k}-->
			<!--{/foreach}-->
			<!--{create_button type="search"}-->
		</form>
	</td></tr>
</table>
<!--{/if}-->

  <form id="form2" method="post" action="<!--{func_site_url segments='/backend/mdata/action_del'}-->" onsubmit="return chkdel2();">   
<table class='mytable'>
	<thead>
<tr>
	<th>
		<!--{create_button type='delete' ext=''}-->		
		<input type="checkbox" id="chkall"  value="1" onclick="CheckAll(this.form);">
	</th>
	
	<!--{foreach from=$fields item=f}-->	
	<th><!--{$f.r_alias}--></th>
	<!--{/foreach}-->	
	
	<th>操作</th>

</tr>
	</thead>
<tbody>
<!--{foreach from=$list item=item}-->	
<tr>
	<td>
		<input type="checkbox" class="ids"  name="<!--{$primary}-->[]" value="<!--{$item[$primary]}-->">
	</td>
	
	<!--{foreach from=$fields item=f}-->	
	<td><!--{$item[$f.r_name]}--></td>
	<!--{/foreach}-->	
	<td align='center'>
		
			<!--{ci_anchor segment="backend/mdata/action_add/`$item[$primary]`" attrs="class:link_mod"}-->
			<!--{ci_anchor segment="backend/mdata/action_del/`$item[$primary]`" attrs="class:link_del,onclick:return confirm('确定删除?');"}-->

	</td>
</tr>
<!--{/foreach}-->
</tbody>	
</table>
</form>
<div class="page_link">
	<!--{$page_link}-->
</div>
<!--{literal}-->
<script language="JavaScript">
	//删除确认
	function chkdel2(){
		if($('.ids:checked').size()>0){
			if(confirm('确定删除?')){
				return true;
			}else{
				return false;	
			}
			
		}else{
			alert('请选择');	
			return false;
		}
	}
</script>
<!--{/literal}-->
<!--{include file="`$dir_backend`/foot.htm"}-->